    <div class="container mt-5">
        <div class="text-center mt-5">
            <h2 class="section-heading text-uppercase">Nuestro Equipo</h2>
            <h3 class="section-subheading text-muted">"Comprometidos con lo que hacemos"</h3>
            <br>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/4.jpg" width="300" height="300" />
                    <h4 class="Mitexto">Alfonso Adame Rueda</h4>
                    <p>Aprendiz - Técnologo en Adsi</p>
               </div>
            </div>
            <div class="col-md-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/johan.jpg" width="300" height="300" />
                    <h4 class="Mitexto">Johan stived osorio velez</h4>
                    <p>Instructor SENA</p>

                </div>
            </div>
        </div>
        <div class="row mt-5">
         
            <div class="row">
                <div class="col-md-6">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="assets/img/dianeth.jpg" width="300" height="300" />
                        <h4 class="Mitexto">Dianet Leon</h4>
                        <p>Instructor SENA</p>
                   </div>
                </div>
                <div class="col-md-6">
                    <div class="team-member" id="member4">
                        <img class="mx-auto rounded-circle" src="assets/img/hamilton.jpg" width="300" height="300" />
                        <h4 class="Mitexto">Hamilton Osorio</h4>
                        <p>Aprendiz - Técnologo en desarrollo de videojuegos</p>
    
                    </div>
                </div>
            </div>

        </div>
    </div>