<html>
    <body>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIG Edu-inicio</title>
</head>
<section>
    <div class="bannerVideo" id="slideShow">
        <img src="../assets/img/fondo.jpg" style="width: 1349px;height:660px">
    </div>
    <div class="container">
        <header id="navbar">
            <a routerLink="" class="logo">BIG Edu</a>
            <ul>
                <li class="nav-item active">
                    <button class="btn btn-succes" routerLinkActive="active" routerLink="Mapa">Instituciones</button>
                </li>
            </ul>
            <ul>
                <li class="nav-item active">
                    <button class="btn btn-succes" routerLinkActive="active" routerLink="login">Ingresar</button>
                </li>
            </ul>
        </header>
            <div class="content center">
                <div class="bannerText" id="slideShowText">
                    <div class="active">
                        <h2>Big Edu</h2>
                        <p>Inteligencia de Negocios y herramientas de Georreferenciación para la sistematización de la Gestión
                            Documental de la Articulación Sena con la Educación Media del centro de Servicios y Gestión Empresarial
                            </p>
                    </div>
                </div>
            </div>
            </div>
          
            </section>
        
        <!--Colocamos este codigo entre el primer section y el footer-->
        <section class="cuerpo" id="play" >
            <div class="contenedor" >
                <div class="card">

                    <div class="face face1">
                        <div class="contenido">
                        
                            <br>
                            <p>Encargado de gestionar toda la información primaria del Aplicativo como programas de formación,
                                regístro de Instituciones Educativas, Docentes, Formatos de Documentos, y todo lo demas 
                                concerniente a la ejecución de la formación en al articulación SENA con la educación Media
                            </p>

                        </div>
                    </div>
                    <div class="face face2">
                        <h5>Administrador</h5>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="contenido">
                            <h2>Rol Docente</h2>
                            <br>
                            <p>Encargado de diligenciar los formatos y mantener actualizada la información requería por cada una de las fichas
                                asociadas en las diferentes instituciones, así como también los formatos inherentes de la Institucion 
                                Articulada asociada.
                                 </p>

                        </div>
                    </div>
                    <div class="face face2">
                        <h5>Docente</h5>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="contenido">
                            <br><br><br>
                            <h2>Rol Visitante</h2>
                            <br>
                            <p>
                                Puede ingresar a la pataforma y visualizar las instituciones en el mapa que tienen articulación con la educación 
                                media con el SENA, detallando los programas que estan en vigencia e información de contacto.
                            </p>

                        </div>
                    </div>
                    <div class="face face2">
                        <h5>Visitante</h5>
                        <br><br>
                    </div>
                </div>
            </div>
            <div>
                <div class="social-media-fixed">
                    <ul class="social-icons">
                      <li><a href="https://www.facebook.com/"><i class='bx bxl-facebook-square bx-lg'></i></a></li>
                      <li><a href="https://www.instagram.com/"><i class='bx bxl-instagram-alt bx-lg'></i></a></li>
                      <li><a href="https://twitter.com/"><i class='bx bxl-twitter bx-lg'></i></a></li>
                    </ul>
                  </div>
            </div>
        </section>
       <!--Aquí terminamos-->
 

</body>
<html>

