<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIG Edu-inicio</title>

    <script src="https://kit.fontawesome.com/bf63a6d4e2.js" crossorigin="anonymous"></script>
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap" rel="stylesheet">


</head>

<body>
    <section>
        <section>
            <div class="bannerVideo" id="slideShow">
                <img src="../assets/img/fondo.jpg" alt="" class="active">
            </div>
            <div class="container">
                <header id="navbar">
                    <a href="" class="logo">BIG Edu</a>
                    <ul>
                        <li class="nav-item active">
                            <a class="nav-link" routerLinkActive="active" routerLink="Login" class="logo">Ingresar</a></li>
                    </ul>
                </header>


                <!-- <li class="nav-item active">
                    <a class="nav-link" routerLinkActive="active"  routerLink="home">Home</a>
                  </li> -->


                <div class="content">
                    <div class="bannerText" id="slideShowText">
                        <div class="active">
                            <h2>Big Edu</h2>
                            <p>Inteligencia de Negocios y herramientas de Georreferenciación para la sistematización de la Gestión
                                Documental de la Articulación Sena con la Educación Media del centro de Servicios y Gestión Empresarial</p>
                        </div>
                    </div>
                </div>

                <ul class="sci">
                    <li><a href=""><img src="../assets/img/facebook.png" alt=""></a></li>
                    <li><a href=""><img src="../assets/img/twitter.png" alt=""></a></li>
                    <li><a href=""><img src="../assets/img/instagram.png" alt=""></a></li>
                </ul>
                <ul class="controls">
                    <li onclick="prevSlide();prevSlideText();"><i class="fas fa-arrow-circle-left"></i></li>
                    <li onclick="nextSlide();nextSlideText();"><i class="fas fa-arrow-circle-right"></i></li>

                </ul>
            </div>
        </section>
        <!--Colocamos este codigo entre el primer section y el footer-->
        <section class="cuerpo" id="play">
            <div class="contenedor">
                <div class="card">

                    <div class="face face1">
                        <div class="contenido">
                            <h2>Rol Administrador</h2>
                            <br>
                            <p>Encargado de gestionar toda la información primaria del Aplicativo como programas de formación,
                                regístro de Instituciones Educativas, Docentes, Formatos de Documentos, y todo lo demas 
                                concerniente a la ejecución de la formación en al articulación SENA con la educación Media
                            </p>

                        </div>
                    </div>
                    <div class="face face2">
                        <h2>1</h2>
                    </div>
                </div>

                <div class="card">
                    <div class="face face1">
                        <div class="contenido">
                            <h2>Rol Docente</h2>
                            <br>
                            <p>Encargado de diligenciar los formatos y mantener actualizada la información requería por cada una de las fichas
                                asociadas en las diferentes instituciones, así como también los formatos inherentes de la Institucion 
                                Articulada asociada.
                                 </p>

                        </div>
                    </div>
                    <div class="face face2">
                        <h2>02</h2>
                    </div>
                </div>
                <div class="card">
                    <div class="face face1">
                        <div class="contenido">
                            <br><br><br>
                            <h2>Rol Visitante</h2>
                            <br>
                            <p>
                                Puede ingresar a la pataforma y visualizar las instituciones en el mapa que tienen articulación con la educación 
                                media con el SENA, detallando los programas que estan en vigencia e información de contacto.
                            </p>

                        </div>
                    </div>
                    <div class="face face2">
                        <h2>03</h2>
                        <br><br>
                    </div>
                </div>
            </div>
        </section>
        <!--Aquí terminamos-->

        <div class="pie">
            <h2 class="follow-us">BIG Edu</h2>
            <div class="mail">
                <i class='bx bx-mail-send'></i>
                <p>aitageoenlaweb@gmail.com</p>
            </div>
            <div class="contenedor-footer">
                <div class="content-foo">
                    <a href="https://www.facebook.com/" class="social-media"><i class='bx bxl-facebook-circle'></i></a>
                </div>
                <div class="content-foo">
                    <a href="https://www.instagram.com/" class="social-media"><i class='bx bxl-instagram-alt'></i></a>
                </div>
                <div class="content-foo">
                    <a href="https://twitter.com/" class="social-media"><i class='bx bxl-twitter'></i></a>
                </div>
            </div>
            <div class="copy">
                <div class="col s2"> Copyright | BIG Edu</div>
            </div>
        </div>


        </section>




        <!-- <script>
            const slideShow = document.getElementById('slideShow');
            const slides = slideShow.getElementsByTagName('video');
            var index = 0;

            function nextSlide() {
                slides[index].classList.remove('active');
                index = (index + 1) % slides.length;
                slides[index].classList.add('active');
            }

            function prevSlide() {
                slides[index].classList.remove('active');
                index = (index - 1 + slides.length) % slides.length;
                slides[index].classList.add('active');
            }
            const slideShowText = document.getElementById('slideShowText');
            const slidesText = slideShowText.getElementsByTagName('div');
            var i = 0;

            function nextSlideText() {
                slidesText[i].classList.remove('active');
                i = (i + 1) % slidesText.length;
                slidesText[i].classList.add('active');
            }

            function prevSlideText() {
                slidesText[i].classList.remove('active');
                i = (i - 1 + slidesText.length) % slidesText.length;
                slidesText[i].classList.add('active');
            }


            function toggleMenu() {
                const menuIcon = document.querySelector('.menuIcon');
                const navbar = document.getElementById('navbar')
                menuIcon.classList.toggle('active')
                navbar.classList.toggle('active');
            }
        </script> -->
</body>

</html>