<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIG Edu-Login</title>    
</head>

<body>
        <div class="container" style="width: 100%;">
            <button class="btn btn-primary" routerLink="" name="Big Edu">Big Edu</button>
        </div>
    <main>
        <div class="contenedor__login-register">
            <form  class="formulario__login" id="formlg" #UserForm="ngForm" (ngSubmit)="LoginUser(UserForm)">
                <h2>Iniciar Sesión</h2>
                <div class="row align-items-stretch mb-5">
                    <div class="col-md-12">
    
                         <div class="form-group">
                            <!-- <label>Usuario:</label> -->
                            <input class="form-control" name="Nickname" #Nickname="ngModel" [(ngModel)]="login.nickname" type="text" placeholder="Usuario " required="required" data-validation-required-message="Ingrese su usuario" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <!-- <label>Contraseña:</label> -->
                            <input class="form-control" name="contraseña" #Nickname="ngModel" [(ngModel)]="login.passuser" type="password" placeholder="Contraseña " required="required" data-validation-required-message="Ingrese su contraseña" autocomplete="current-password"/>
                            <p class="help-block text-danger"></p>
                        </div>
                        
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-xl text-uppercase" name="login">Ingresar</button>
                </div>
            </form>
        </div>

    </main>

    <div class="pie" style="width: 100%;">
        <h2 class="follow-us">BIG Edu</h2>
        <div class="mail">
            <i class='bx bx-mail-send'></i>
            <p>aitageoenlaweb@gmail.com</p>
        </div>
        <div class="contenedor-footer">
            <div class="content-foo">
                <a href="https://www.facebook.com/" class="social-media"><i class='bx bxl-facebook-circle'></i></a>
            </div>
            <div class="content-foo">
                <a href="https://www.instagram.com/" class="social-media"><i class='bx bxl-instagram-alt'></i></a>
            </div>
            <div class="content-foo">
                <a href="https://twitter.com/" class="social-media"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>
        <div class="copy">
            <div class="col s2"> © Copyright | BIG Edu</div>
        </div>
    </div>
</body>
