:root {

  --light: #ffffff;
  --grey: #efefef;
  --green : #5EB319;
}

body {
  overflow: hidden;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  color: var(--green);
}

h1 {
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: #5EB319;
}

.modal {
  z-index: 1050 !important;
}

.modal-backdrop {
  z-index: 1050 !important;
}



#sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #f8f9fa;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Estilo para los enlaces del sidebar */
#sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
}

/* Estilo para los enlaces activos del sidebar */
#sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Estilo para los enlaces del acordeón */
.accordion-link {
  cursor: pointer;
}

/* Estilo para el contenido del acordeón */
.accordion-content {
  display: none;
  padding: 10px;
  margin-left: 20px;
  border-left: 1px solid #ccc;
}

/* Estilo para el título del modal */
.modal-title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.bg-primary { background-color: var( --green) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
  background-color: var(--green);
  border: 0;
}

.btn-primary:hover {
  color: var(--light);
  background-color: #9bdd65;
  border: #5EB319;
  outline: none;
}

.text-center,.btn-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}/* esta ya   */

.btn-success {
  margin-right: 10px;
}

.btn-danger {
  margin-right: 10px;
}

.btn {
  margin: auto;
  outline: none;
}

.btn:focus {
  outline: none;
  border: #5EB319;
  background-color: #5EB319;
}


button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-button:active {
  color: #5EB319;
  outline: none;
  box-shadow: none;
  background-color: #5EB319;
}

.accordion-button:focus {
  color: #5EB319;
  outline: none;
  box-shadow: none;
  background-color: #5EB319;
}

.accordion-button::after {
  color: #9bdd65;
  outline: none;
  box-shadow: none;
}









#sidebar-container {
  min-height: 100vh;
}

#sidebar-container .logo{
  padding: 0.875rem 1.25rem;
}

#sidebar-container .menu {
  width: 18rem;
}

#content {
  overflow-y: auto;
  height: 100vh;
  padding-bottom: 5rem;
}

.avatar {
  max-width: 35px;
}

.btn-search {
  right: 0;
}

.stat {
  border-right: 1px solid var(--grey);
}


@media (max-width: 768px) {
  #sidebar-container {
    display: none;
  }
  .stat {
      border: 0;
  }
}

@media screen and (max-width: 768px) {
  /* ajustar el tamaño de fuente de los encabezados */
  h1 {
    font-size: 1.5rem;
  }
  /* ajustar el tamaño de fuente del menú */
  #sidebar-container .menu a {
    font-size: 1.2rem;
  }
  /* ajustar el tamaño de fuente del contenido */
  #content {
    font-size: 1.1rem;
  }
}

