<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <title>Lider</title>
</head>

<body>
    <div class="d-flex" id="content-wrapper">

        <!-- Sidebar -->
        <div id="sidebar-container" class="bg-primary">
            <div class="logo">
                <h4 class="text-light font-weight-bold mb-0 animate__bounce" (click)="destroyToken()" >Lider</h4>
            </div>
            <div class="menu">
              <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="text-light font-weight-bold mb-0" id="headingOne">
                    <button class="accordion-button collapsed btn-primary text-light" style="border:color#5EB319, solid" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      <i class="icon ion-md-school">Instituciones educativas</i>&nbsp;
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
  Registrar  Nueva Intitucion Educativa
</button>
<div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Registrar Nueva Institucion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  #RegisInsti="ngForm" (ngSubmit)="saveInstitution(RegisInsti)" [formGroup]="form">
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input type="text" id="form6Example1" class="form-control" placeholder="Nombre Institucion" name="Nombre Institucion" [(ngModel)]="Institucion.nombre_institucion" [(ngModel)]="nombre" formControlName="Nombre_Institucion"/>
              </div>
            </div>
          </div>
          <!-- Text input -->
          <div class="form-outline mb-4">
            <input type="text" id="form6Example3" class="form-control" placeholder="Nombre Coordinador" name="Nombre Coordinador" [(ngModel)]="Institucion.nombre_coordinador" formControlName="Nombre_Coordinador" />
          </div>
        
          <!-- Text input -->
          <div class="form-outline mb-4">
            <input type="text" id="form6Example4" class="form-control" placeholder="Nombre Rector" name="Nombre Rector" [(ngModel)]="Institucion.nombre_rector" formControlName="Nombre_Rector" />
          </div>
        
          <!-- Email input -->
          <!-- <div class="form-outline mb-4">
            <input type="email" id="form6Example5" class="form-control" placeholder="Email"/>
          </div> -->
        
          <!-- Number input -->
          <div class="form-outline mb-4">
            <input type="text" id="form6Example6" class="form-control" placeholder="Telefono" name="Telefono" [(ngModel)]="Institucion.telefono_ie"  formControlName="Telefono"/>
          </div>
          <div class="form-outline mb-4">
            <input type="number" id="form6Example6" class="form-control" placeholder="Latitud" name="Latitud" [(ngModel)]="Institucion.lat" [(ngModel)]="latitud" formControlName="Latitud" />
          </div>
          <div class="form-outline mb-4">
            <input type="number" id="form6Example6" class="form-control" placeholder="Longitud" name="Longitud" [(ngModel)]="Institucion.lng" [(ngModel)]="longitud" formControlName="Longitud" />
          </div>
          <div class="text-center btn-toolbar">
          <!-- Submit button --  btn-block mb-4 para que se vea en bloque----->
          <button type="submit" class="btn btn-success" name="guardar"  [disabled]="!form.valid">Guardar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
                       </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
      </div>
          </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed btn-primary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      <i class="icon ion-md-stats lead mr-2"></i> Programas
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse btn-primary " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Registrar Nuevo Programa
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed  btn-primary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      <i class="icon ion-md-person mr-2"></i>&nbsp;Instructor
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse  btn-primary" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Registrar Nueva Programa
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                      <button class="accordion-button collapsed  btn-primary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <i class="icon ion-md-bookmarks"></i>&nbsp;Fichas
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Registrar Nueva Ficha
                      </div>
                      </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed  btn-primary text-light" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      <i class="icon ion-md-filing"></i>&nbsp; Formatos
                    </button>
                  </h2>
                  <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      Registrar Nuevo Formato
                    </div>
                    </div>
              </div>
              </div>
            </div>
        </div>
        <!-- Fin sidebar -->

        <div class="w-100">

         <!-- Navbar -->
         <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container">
    
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline position-relative d-inline-block my-2">
                  <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
                  <button class="btn position-absolute btn-search" type="submit"><i class="icon ion-md-search"></i></button>
                </form>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="destroyToken()">
                      <img src="../assets/img/new_logo.png" class="img-fluid rounded-circle avatar mr-2"/>logout</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- Fin Navbar -->

        <!-- Page Content -->
        <div id="content" class="bg-grey w-100">

              <section class="bg-light py-3">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-9 col-md-8">
                            <h1 class="font-weight-bold mb-0">Bienvenido </h1>
                            </div>
                      </div>
                  </div>
              </section>
              <!---Todas las instituciones-->
                <div class="container">
              
                  
                </div>
              <section>
                <div class="container" style="width: 90%;margin-left:0%">
                  <div class="row" style="display: flex;">
                    <div class="col-lg-6 my-3">
                      <div class="card rounded-0">
                        <div class="card-header bg-light">
                          <h6 class="font-weight-bold mb-0">GeoReferenciacion</h6>
                        </div>
                        <div class="card-body">
                          <div id="map" style="height: 300px; width: 100%;"></div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 my-3">
                      <div class="card rounded-0">
                        <div class="card-header bg-light">
                          <h6 class="font-weight-bold mb-0">Datos De Intituciones</h6>
                        </div>
                        <div class="card-body">
                          <div>    
                            <table>
                              <thead>
                                <tr>
                                  <th>Nombre Institución</th>
                                  <!-- <th>latitud</th> -->
                                  <th>Telefono</th>
                                  <th>Acciones</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let institucion of institutionsList">
                                  <td>{{ institucion.nombre_institucion }}</td>
                                  <!-- <td>{{ institucion.ubicacion_geografica.lat }}</td> -->
                                  <!-- <td>{{ institucion.ubicacion_geografica.lng }}</td> -->
                                  <td>{{institucion.telefono_ie}}</td>
                                  <td>
                                    <div class="d-flex flex-row">
                                      <button type="button" class="btn btn-primary mx-1 btn-sm">Editar</button>
                                      <button type="button" class="btn btn-danger mx-1 btn-sm">Eliminar</button>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              
        </div>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
        
</body>

</html>