<section class="app">
    <aside class="sidebar">
           <header>
          Lider
        </header>
      <nav class="sidebar-nav">
   
        <ul>
          <li>
            <br>
            <button routerLink="/instructor" type="button" class="btn btn-primary"><span>Instructores</span></button>
            <ul class="nav-flyout">
              <li>
                <a (click)="Modal($event)" data-toggle="modal" data-target="#exampleModal"><i class="ion-ios-color-filter-outline"></i>Registrar Instructor</a>
              </li>
              <li>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Launch demo modal
                </button>
                <a href="#"><i class="ion-ios-clock-outline"></i>Instructores</a>
              </li>
              <!-- <li>
                <a href="#"><i class="ion-android-star-outline"></i>Hates</a>
              </li>
              <li>
                <a href="#"><i class="ion-heart-broken"></i>Beat</a>
              </li> -->
            </ul>
          </li>
          <li>
            <a href="#"><i class="ion-ios-settings"></i> <span class="">Instituciones Educativas</span></a>
            <ul class="nav-flyout">
              <li>
                <a href="#"><i class="ion-ios-alarm-outline"></i>Registar Institucion</a>
              </li>
              <li>
                <a href="#"><i class="ion-ios-camera-outline"></i>Instituciones</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="ion-ios-briefcase-outline"></i> <span class="">Programas</span></a>
            <ul class="nav-flyout">
              <li>
                <a href="#"><i class="ion-ios-flame-outline"></i>Registar Programa</a>
              </li>
              <li>
                <a href="#"><i class="ion-ios-lightbulb-outline"></i>Programas</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="ion-ios-analytics-outline"></i> <span class="">Fichas</span></a>
            <ul class="nav-flyout">
              <li>
                <a href="#"><i class="ion-ios-timer-outline"></i>Registar Ficha</a>
              </li>
              <li>
                <a href="#"><i class="ion-arrow-graph-down-left"></i>Fichas</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="ion-ios-paper-outline"></i> <span class="">Formatos y Dcos</span></a>
            <ul class="nav-flyout">
              <li>
                <a href="#"><i class="ion-ios-filing-outline"></i>Registar Formato</a>
              </li>
              <li>
                <a href="#"><i class="ion-ios-information-outline"></i>Formatos</a>
              </li>
            </ul>
          </li>
          <li>
   
            <a (click)="destroyToken()"><i class="ion-ios-medical-outline"></i> <span class="" >logout</span></a>
          </li>
        </ul>
      </nav>
    </aside>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

